<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ZenCash Tools</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="\">Home</a></li>
      <li role="presentation"><a href="\transactions">Transacions</a></li>
    </ul>
  </div>
</nav>

{% block body %}{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div id="footer" class="container-fluid">
      <div class="text-center">ZEN Donations: znb4Xac8LESqNp5obkKBMoGN62YM4ZRqCj6</div>
      <div class="text-center">&copy; Copyright 2018 <a href="https://github.com/PersonaOnTheRun/zen-historical-tool">Persona</a></div>
      <div class="text-center">This page is licensed under a <a href="https://choosealicense.com/licenses/gpl-3.0/">GNU General Public License v3.0</a></div>
  </div>
</nav>
</html>
