{% extends "header.html" %}

{% block body %}
<body>
    <div class="container-fluid">
      <p class="text-left" style="max-width: 600px;">
        The goal of this tool is to provide quick access to the historical price of ZenCash at the time it was received.
        To use this tool, navigate to the transactions tab. Enter your ZenCash address and you will be prompted to download a .csv file containing the Date, ZenCash Amount, ZenCash Price (USD), and Value in USD for all of the address's incoming transactions.
        All outbound transactions are ingored.
        The price of ZenCash is pulled from CryptoCompare's API and the transaction data is streamed from explorer.zencash.io
      </p><br>
    </div>
    <div id="footer" class="container-fluid">
        {% block footer %}
        <div>ZEN Donations: znb4Xac8LESqNp5obkKBMoGN62YM4ZRqCj6</div>
        <div>&copy; Copyright 2018 <a href="https://github.com/PersonaOnTheRun/zen-historical-tool">Persona</a></div>
        <div>This page is licensed under a <a href="https://choosealicense.com/licenses/gpl-3.0/">GNU General Public License v3.0</a></div>
        {% endblock %}
    </div>
</body>
{% endblock %}
