{% extends "header.html" %}

{% block body %}

<div class="main-content">
  <div class="container-fluid text-center"><h3>ZenCash Tools<h3></div>
  <p class="text-center">
    This goal of this project is to provide a collection of useful tools for the Zencash ecosystem.
    This is a non-profit open source community project operating on a donation funded basis.
    If you are interested in the project please leave a star on github. If you find any bugs, please
    don't hesitate to open an issue on github. Thanks for visiting!
  </p><br>

</div>

{% endblock %}
