{% extends "header.html" %}

{% block body %}

<div class="main-content" class="container-fluid">
  <h3>Generate Paper Wallet</h2>
    <form>
        <label>Pass phrase (optional)</label>
        <input id="paperWalletName" type="text">
        <button id="make-my-wallet" aria-hidden="true">Download</button><br>
    </form>
</div>

<script>
$(document).ready(function(){
    $("button").click(function(){
        $.getScript( "../static/js/bundle.js", function( data, textStatus, jqxhr ) {
          // console.log( textStatus ); // Success
          // console.log( jqxhr.status ); // 200
          console.log( "Download function complete." );
          });
        event.preventDefault();
    });
});
</script>

{% endblock %}
