{% extends "header.html" %}

{% block body %}
<script src="/static/js/bundle.js"></script>
<script src="/static/js/zpaperwallet.js"></script>

<div class="main-content" class="container-fluid">
  <h3>Generate Paper Wallet</h2>
    <form>
        <label>Name (optional)</label>
        <input id="paperWalletName" type="text">
        <button id="make-my-wallet" aria-hidden="true">Download</button><br>
    </form>
</div>

<script>
$(document).ready(function(){
    $("#make-my-wallet").click(function(){
        foo.exportPaperWallet();
        event.preventDefault();
    });
});
</script>

{% endblock %}
