{% extends "header.html" %}

{% block body %}

<h2 slot=headerText data-tr=wallet.paperWallet.generateNewWallet>Generate New Wallet</h2>
<div slot=content>
    <div class=form>
        <label for=paperWalletName data-tr=wallet.paperWallet.name>Name (optional)</label>
        <input type=text class=paperWalletName name=paperWalletName />
    </div>
    <div class=formButtons>
        <button class=paperWalletCreateButton data-tr=wallet.paperWallet.exportPDFLabel>Export PDF</button>
    </div>
</div>

{% endblock %}
