{% extends "header.html" %}

{% block body %}


<div class="main-content">
  <div class="container-fluid">
    <div><h3>ZenCash Address Transaction History<h3></div>
    <p class="text-left">This tool provides a csv file which contains a list of all transactions
      received by the input address as well as the historical price of Zencash at the time of the transaction.
      This will make it easier to track mining profitability over time and will be crucial when filing taxes.
      Currently the tool uses the closing price of zencash on the day of the transaction. Future
      implementations will have the closing price accurate to the nearest hour and eventually minute.
    </p>
    <div class="input-group">
      <form id="form-zendata" class="form-zendata" >
        <label for="name"> Enter your ZenCash Address : </label>
          <input type="text" name="zenaddress" placeholder="ZenCash Address" class="form-control"/>
          <div class="form-group">
            <label for="sel1">Select a Currency:</label>
            <select name="fiat" class="form-control" id="sel1">
              <option>USD</option>
              <option>BTC</option>
              <option>CAD</option>
              <option>EUR</option>
            </select>
          </div>
      </form>
      <button id="start-bg-job" class="btn btn-default btn-lg" class="glyphicon glyphicon-save" aria-hidden="true">Download</button><br>
    </div>
  </div>
</div>

<div id="progress" style=height:70px></div>


<script>
    function start_long_task() {
        console.log('started long task')
        // add task status elements
        div = $('<div class="progress" style=height:70px><div class="text-center"></div><div class="text-center">0%</div><div class="text-center">...</div><div class="text-center">&nbsp;</div></div>');
        $('#progress').append(div);

        // create a progress bar
        var nanobar = new Nanobar({
            bg: '#44f',
            target: div[0].childNodes[0]
        });

        console.log($('form').serializeArray())

        // send ajax POST request to start background job
        $.ajax({
            type: 'POST',
            url: '/zendata/',
            data: $('form').serializeArray(),
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url, nanobar, div[0]);
            },
            error: function() {
                alert('Unexpected error');
            }
        });
    }
    function update_progress(status_url, nanobar, status_div) {
        // send GET request to status URL
        $.getJSON(status_url, function(data) {
            console.log('requesting update')
            // update UI
            percent = parseInt(data['current'] * 100 / data['total']);
            nanobar.go(percent);
            $(status_div.childNodes[1]).text(percent + '%');
            $(status_div.childNodes[2]).text(data['status']);
            if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                if ('result' in data) {
                    // show result
                    var data = data['result']

                    var csvContent = '';
                    data.forEach(function(infoArray, index) {
                      dataString = infoArray.join(',');
                      csvContent += index < data.length ? dataString + '\n' : dataString;
                    });

                    var download = function(content, fileName, mimeType) {
                      var a = document.createElement('a');
                      mimeType = mimeType || 'application/octet-stream';

                      if (navigator.msSaveBlob) { // IE10
                        navigator.msSaveBlob(new Blob([content], {
                          type: mimeType
                        }), fileName);
                      } else if (URL && 'download' in a) { //html5 A[download]
                        a.href = URL.createObjectURL(new Blob([content], {
                          type: mimeType
                        }));
                        a.setAttribute('download', fileName);
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                      } else {
                        location.href = 'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
                      }
                    }
                    var csvname = $('input').serialize().slice(11) + '.csv'
                    download(csvContent, csvname, 'text/csv;encoding:utf-8');

                    //$(status_div.childNodes[3]).text('Result: ' + data['result']);
                }
                else {
                    // something unexpected happened
                    $(status_div.childNodes[3]).text('Result: ' + data['state']);
                }
            }
            else {
                // rerun in 2 seconds
                setTimeout(function() {
                    update_progress(status_url, nanobar, status_div);
                }, 2000);
            }
        });
    }
    $(function() {
        $('#start-bg-job').click(start_long_task);
    });
    $(function() {
        $('#form-zendata').on("submit", start_long_task);
    });
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


{% endblock %}
