{% extends "header.html" %}

{% block body %}
<div class="container-fluid" class="text-center">
  <p class="text-center" style="max-width: 600px;">Enter your ZenCash Address in the below field. After submitting, please allow a few moments for the page to gather the data. If you encounter issues, please try using Chrome.</p>
  <form method = "POST" class="text-center">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" type="button"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button>
        </span>
        <input name="zenaddress" type="text" class="form-control" placeholder="ZenCash Address">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </form>
</div>
{% endblock %}
